@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply flex min-h-screen w-full flex-col bg-background p-10 text-foreground text-lg;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
}

.player-table {
  border-collapse: collapse;
}

.player-table td {
  padding: 5px 5px;
}

.player-table td:first-child {
  min-width: 170px;
}

@layer components {
  .title {
    @apply my-2 bg-gradient-to-b from-transparent from-60% to-primary/50 to-60% font-bold;
  }
}
